$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower


// VARS
$blue: #337ab7;
$gray: #EAEAEA;

$mobile-break: 320px;
$small-tablet-break: 768px;
$tablet-break: 992px;
$desktop-break: 1200px;


@import "breakpoint";
@import "components/*";

// -----------------------------

body {
  font-family: sans-serif;
  /* display: flex; */
  /* flex-direction: row; */
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 140%;
}

h1 small {
  font-weight: lighter;
  padding-left: 0.7em;
}

img.logo {
  float: right;
}

.container {
  /* width: 1500px; */
  margin: 0 auto;
}

#sankey {
  float: left;
  width: 1100px;
  /* flex: 1 0 70%; */
}

#details {
  float: left;
  overflow-y: auto;
  padding: 1em;
  font-size: 10pt;
}

#details table {
  width: 100%;
  border-spacing: 0 1em;
}

td, th {
  text-align: left;
  vertical-align: top;
}

td:nth-of-type(3) {
  padding-bottom: 10px;
}

/* #details  */

@media (min-width: 1100px) {
  .container {
    width: 1100px;
  }
  #details {
    width: 100%;
  }

  td:nth-of-type(1) {
    width: 200px;
  }

  td:nth-of-type(2) {
    width: 100px;
  }

  td:nth-of-type(3) {
    /* width: 100px; */
  }
}

@media (min-width: 1500px) {
  .container {
    width: 1500px;
  }
  #details {
    width: 370px;
    /* margin-left: 15px; */
    /*margin-top: 40px;*/
    height: 600px;
  }

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  /* tr { border: 1px solid #ccc; } */

  td:nth-of-type(1) {
    display: inline-block;
    font-style: italic;
    /* border: none; */
    /* border-bottom: 1px solid #eee; */
    /* position: relative; */
    /* padding-left: 50%; */
  }

  td:nth-of-type(2) {
    display: inline-block;
    margin-left: 0.2em;
    font-style: italic;
    /* border: none; */
    /* border-bottom: 1px solid #eee; */
    /* position: relative; */
    /* padding-left: 50%; */
  }
}

.nodes text {
  font-family: sans-serif;
  font-size: 8pt;
  pointer-events: none;
  text-anchor: start !important;  /* override alignment calculation */
}

.nodes g {
  cursor: pointer;
}

.nodes line {
  stroke: black;
  stroke-width: 2px;
}
